body {
  font-family: sans-serif;
  color: #666;
  text-align: center;
}


h2, p {
  font-size: 20px;
  font-weight: 100;
}

h3 {
  color: #666;
  font-size: 15px;
  font-weight: 100;
  font-style: italic;
}

section {
  margin: 0 auto;
  width: 90%;
}

form {
  margin: 0 auto;
  width: 100%;
  text-align:center;
}

input {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


input[type=text] {
  padding-left: 20px;
  font-size: 16px;
  color: #008CBA;
}

button {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  background-color: #008CBA;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
}

button:hover {
  background-color: #fff;
  color: #008CBA;
  border: 1px solid #008CBA;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.results {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  text-align: center;
}

.res {
  width: 30%;
  height: 100%;
  text-align: center;
  margin: 10px;
}

img {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .results {
    flex-flow: column wrap;
  }

  .res {
    width: 100%;
    margin: 0px;
  }
}
