html, body {
    margin: 0;
    padding: 0;
}

input {
    display: block;
    border: none;
}

#search-form {
    margin-top: 20px;
    display: grid;
    place-items: center;
}

#search-term {
    width: 300px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 10px;
}

#search-form-submit, #more-button {
    background-color: #fff;
    padding: 8px 16px;
    border: 1px solid grey;
    border-radius: 3px;
    cursor: pointer;
}

#search-result-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (min-width: 550px) {
    #search-result-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 750px) {
    #search-result-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    #search-result-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    #search-result-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.image {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
}

.more-button {
    display: block;
    margin: 30px auto;
}

.hidden {
    display: none;
}
